<configuration>
    <appender name="LOKI" class="com.github.loki4j.logback.LokiAppender">
        <http>
            <url>http://loki:3100/loki/api/v1/push</url>
        </http>
        <format>
            <label>
                <pattern>app=spring-boot</pattern>
            </label>
        </format>
    </appender>

    <root level="INFO">
        <appender-ref ref="LOKI"/>
    </root>
</configuration>
